.container {
  padding: 20px 0;
  width: 500px;
  background-color: gainsboro;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.mat-form-field {
  width: 100%;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}

form {
  margin: auto;
  margin-top: 1rem;
  width: 400px;
}

.input-box {
  align-items: center;
  justify-content: center;
}

.input-box input {
  height: 1rem;
  width: 100%;
  border: none;
}

.role-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}

.role-selection label {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.role-selection input {
  margin-right: 10px;
}

button {
  width: 100%;
  background: deepskyblue;
  font-weight: bold;
  border: none;
  padding: .5rem 3rem;
  margin: auto;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: blue;
  color: #000000;
  transform: scale(1.2);
}

.text-signup {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
  }
  .input-box {
    flex-direction: row;
    justify-content: space-between;
    color: #0E3026;
    height: 120px;
  }
  .role-selection {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .text-signup {
    display: flex;
    flex-direction: column;
  }
}
