<div class="container">
  <span class="header"> <h1 class="card-title">Inventory</h1>
  </span>
  <span class="header">
    <app-search-content [options]="this.options" (optionSelected)="receiveFilter($event)" (search)="searchFilter($event)" ></app-search-content>
    <div>
  <div>
    <app-inventory-creation (itemCreated)="createItem($event)"></app-inventory-creation>
  </div>
</div>
  </span>
  <div class="card-display">
    <app-inventory-card class="card" *ngFor="let inventory of inventoryData" [inventory]="inventory" (update)="handleUpdate($event)" (delete)="handleDelete($event)" (clicked)="openDialog(inventory.id)"></app-inventory-card>
  </div>
</div>
