.item {
  width: 100%;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: #3f76b5;
}

.addButton {
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  width: auto;
  height: auto;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: #3f76b5;
}

.card-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}
