<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="editForm.get('firstName')?.invalid">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="editForm.get('lastName')?.invalid">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="editForm.get('email')?.invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber">
      <mat-error *ngIf="editForm.get('phoneNumber')?.invalid">
        Phone Number is required
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="editForm.invalid">Save</button>
</div>
