.schedule-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.schedule-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin: 20px 0;
}

.schedule-row h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}

app-schedule-view {
  width: 50%;
}
