<div class="row text-center" *ngIf="canChangeView">
  <div class="col-md-4">
    <div class="btn-group">
      <button
        mat-raised-button color="primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </button>
      <button
        mat-raised-button
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </button>
      <button
        mat-raised-button color="primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <p>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </p>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <button
        mat-raised-button color="primary"
        (click)="setView(CalendarView.Month)"
      >
        Month
      </button>
      <button
        mat-raised-button color="primary"
        (click)="setView(CalendarView.Week)"
      >
        Week
      </button>
      <button
        mat-raised-button color="primary"
        (click)="setView(CalendarView.Day)"
      >
        Day
      </button>
    </div>
  </div>
</div>
<br/>

<div [ngSwitch]="view" class="scroll-container" #scrollContainer>
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
